.filter-main{
    background-color: var(--color-card-bg);
    padding: 20px 20px;
    height: 200px;
    border-radius: 5px;
}

.filter-input input {
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    color: var(--color-font-secondary);
    border: 1px solid var( --color-card-border);
}

.filter-btn {
    width: 200px;
    height: 40px;
    border: none;
    color: var(--color-font-tertiary);
    font-weight: 700;
    background-color: var(--color-btn-primary);
    border-radius: 5px;
}